img {
  max-width: 100%;
  height: auto;
  padding-top: 20px; }

.container {
  width: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto;
  background-color: aqua; }

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap; }

/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
  margin: 1em 0 .5em;
  text-align: right; }

.main-nav li {
  display: inline; }

.main-nav a {
  display: inline-block;
  padding: .5em 1.5em; }

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between; } }
